{# appel du fichier base  #}
{%  extends 'Admin/AdminBase.html.twig' %}

{% block metaTitle %}
    un article
{% endblock metaTitle %}

{% block main %}
    <div >
        <article class="categorie">
            <h2>{{ article.title }}</h2>

            <p>Créé le {{ article.createAt | date('y-m-d') }}</p>

            {# Condition pour afficher la catégorie si renseignée #}
            {% if article.category %}
                <p>Sa catégorie : {{ article.category.title }}</p>
            {% endif %}

            {# Condition pour afficher le tag si renseigné #}
            {% if article.tag %}
                <p>Tag : {{ article.tag.title }}</p>
            {% endif %}

            <p>Résumé : {{ article.content}} </p>

            {# Lien pour accéder au delete ou a l upgrade #}
            <div>
                <a href="{{ path('adminArticleDelete', {'id' : article.id} ) }}">Supprimer</a>
            </div>
            <div>
                <a href="{{ path('adminArticleUpdate', {'id' : article.id} ) }}">Modifier</a>
            </div>

        </article>
    </div>
{% endblock main %}

