{%  extends 'Admin/AdminBase.html.twig' %}

{% block metaTitle %}
    Les catégories
{% endblock metaTitle %}

{#appel du block main #}
{% block main %}
    <main>
        {# mise en place d une boucle for pour afficher tous les categories de la liste #}
        {% for categorie in categories %}
            <article>
                {# Creation d un lien avec la fonction path pour rediriger vers une adresse URL #}
                <a href={{ path('category', {'id': categorie.id}) }}>
                    <h1>{{ categorie.title }}</h1>
                </a>
                    <p>{{ categorie.content}} </p>
                <p>{{ categorie.published }}</p>
                {#lien pour la suppression ou modification de categorie  #}
                <a href="{{ path('adminCategoryDelete', {'id' : categorie.id} ) }}">Supprimer</a>
                <a href="{{ path('adminCategoryUpdate', {'id' : categorie.id} ) }}">Modifier</a>

            </article>
        {% endfor %} {# cloture de la boucle for #}

        <p>
            <a href="{{ path('adminCategoryInsert' ) }}">Ajouter une nouvelle catégorie</a>
        </p>
    </main>
{% endblock main %}