<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {# mise en place dun block pour le titre de la page  #}
        <title>{% block metaTitle %}{% endblock metaTitle %}</title>

        <!--ajout de la jointure bbotstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        {# lien pour connecter la page CSS #}
        <link rel="stylesheet" href="{{ asset('css/adminStyle.css') }}">

    </head>

    <body>
        <header class="header">
            <figure class="logo">
                <img src="{{ asset('img/syfy.png') }}" alt="logo" class="resp">
            </figure>

            <p>Ma page Administrateur </p>

            <nav>
                <ul class="menu">
                    <li class="list">
                        <a href="{{ path('adminArticleList') }}">Gestion des articles</a>
                    </li>
                    <li class="list">
                        <a href="{{ path('adminTagList') }}">Gestion des tags</a>
                    </li>
                    <li class="list">
                        <a href="{{ path('adminCategoriesList') }}">Gestion des categories</a>
                    </li>
                </ul>
            </nav>
        </header>

    {# mise en place d'un block pour le main #}
        <main class="main">
            {% block main %}
            {% endblock main %}
        </main>

        <footer class="footer">
           <div >
                <p>Fin de page</p>
           </div>
        </footer>

    </body>
</html>