{# appel du fichier base  #}
{%  extends 'Admin/AdminBase.html.twig' %}

{% block metaTitle %}
    une categorie
{% endblock metaTitle %}


{% block main %}
    <div >
        <article class="categorie">
            <h2>{{ categorie.title }}</h2>
            <p>{{ categorie.content }}</p>

            <h3>Articles de cette catégorie</h3>
            {% for article in categorie.articles %}
                <p>{{ article.title }}</p>
            {% endfor %}

            {#lien pour la suppression ou modification de categorie  #}
            <a href="{{ path('adminCategoryDelete', {'id' : categorie.id} ) }}">Supprimer</a>
            <a href="{{ path('adminCategoryUpdate', {'id' : categorie.id} ) }}">Modifier</a>
        </article>
    </div>
{% endblock main %}

