{%  extends 'Admin/AdminBase.html.twig' %}

{% block metaTitle %}
    Les articles
{% endblock metaTitle %}

{#appel du block main #}
{% block main %}
    <main>
        {# mise en place d une boucle for pour afficher tous les articles de la liste #}
        {% for article in articles %}
            <article>
                {# Creation d un lien avec la fonction path pour rediriger vers une adresse URL #}
                <a href="{{ path('adminArticleShow',{'id': article.id} ) }}">
                    <h2>{{ article.title }}</h2>
                </a>
                <p>{{ article.content}} </p>
                <p>{{ article.createAt | date('y-m-d') }}</p>
                {% if article.category %}
                    <p>catégorie de l'article {{ article.category.title }}</p>
                {% endif %}

            </article>
        {% endfor %} {# cloture de la boucle for #}
    </main>
{% endblock main %}